DATABASE_URL=sqlserver://your-server:1433;database=vehicles;user=your-user;password=your-password;trustServerCertificate=true;connection_timeout=30;pool_timeout=30;max_pool_size=30
PORT=3001
NODE_ENV=development
AZURE_TENANT_ID=your-tenant-id
AZURE_CLIENT_ID=your-vehicles-frontend-client-id
AZURE_CLIENT_SECRET=your-client-secret
